body {
    padding-top: 3em;
    background: #F8F8F8;
}
.fix-down{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.col-lg-9{
    margin: 0 auto;
}
@media (min-width: 992px) {
    body {
        padding-top: 3.5em;
    }
}
