body {
    padding-top: 3em;
    background: #F8F8F8;
}
.fix-down{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.list-group-item a{
    color: #343a40;
    text-decoration: none;
}

.list-group-item a:hover{
    color: #647280;
    text-decoration: none;
}

.price{
    font-size: 2em;
    font-weight: bolder;
}

.rating{
    color:#f47b2b;
    font-size: 1.5em;
    font-weight: bold;
}

.col-lg-9{
    margin: 0 auto;
}
.custom-select{
    overflow-y: auto;
}

@media (min-width: 992px) {
    body {
        padding-top: 3.5em;
    }
}
